[submodule "external/kissfft"]
	path = external/kissfft
	url = https://github.com/mborgerding/kissfft.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/nayukidct/external/googletest"]
	path = external/nayukidct/external/googletest
	url = https://github.com/google/googletest.git
